body {
  background-color: #111;
  color: #eee;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, #400, #900);
  padding: 1.5rem;
  color: #fff;
  box-shadow: 0 0 20px #600;
}

section {
  margin: 2rem auto;
  max-width: 600px;
  background: #222;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 20px #900;
}

a {
  color: #f33;
  text-decoration: none;
  font-weight: bold;
}

footer {
  margin-top: 2rem;
  color: #555;
}